html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    font-size: 1.2rem;
    box-sizing: border-box;
}

/* Header */

#header {
    background-color: red;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

#header h1 {
    margin: 0;
}

/* Content */

#wrapper {
    background: #CCC;
    min-height: 100%;
    margin: 0 auto;
    width: 95%;
    padding: 0;
    box-sizing: border-box;
}

#content,
#text {
    float: left;
    width: 70%;
}

#sidebar {
    width: 30%;
    height: auto;
    text-align: center;
    color: yellow;
    box-sizing: border-box;
    float: left;
}

#sidebar span {
    font-size: 1.8rem;
}

.div_10 {
    width: 99%;
    height: 50px;
    margin: 5px;
    background: #ff65ff;
}

.div-hidden {
    display: none;
}

.div_11 {
    width: 99%;
    height: 50px;
    margin: 5px;
    background: #ff65ff;
}

.div-opasity {
    opacity: 0;
}

.display-none {
    display: none;
}

.div-visib {
    visibility: hidden;
}

.focused {
    background-color: #ff65ff;
}

.myForm button,
input {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

.myForm textarea {
    height: 45px;
}


#clear {
    clear: both;
    height: 50px;
}

/* Footer */

#footer {
    background: #36F;
    height: 50px;
    margin: 0 auto;
    width: 100%;
    margin-top: -50px;
    position: relative;
}